<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:section name="Footer">
		<!-- footer, optional content elements from colPos 2 (two) -->
		<v:content.render column="2" as="footerContentElements">
			<f:if condition="{footerContentElements}">
				<div class="footer">
					<div class="right">
						<f:for each="{footerContentElements}" as="footerContentElement">
							<f:format.raw>{footerContentElement}</f:format.raw>
						</f:for>
					</div>
				</div>
			</f:if>
		</v:content.render>
		<div class="sitemap">
			<h3 class="header">
				<span>Site Map</span>
			</h3>
			<hr/>
			<div class="row">
				<v:page.menu class="nav footernav" entryLevel="{settings.entryLevel}" expandAll="true">
					<f:for each="{menu}" as="LevelOne">
						<div class="col-sm-2">
							<div class="lead muted"><a class="muted" href="{LevelOne.link}">{LevelOne.linktext}</a>
							</div>
							<v:page.menu pageUid="{LevelOne.uid}" class="unstyled">
								<ul class="unstyled">
									<f:for each="{menu}" as="LevelTwo">
										<li><a class="muted" href="{LevelTwo.link}">{LevelTwo.linktext}</a></li>
									</f:for>
								</ul>
							</v:page.menu>
						</div>
					</f:for>
				</v:page.menu>
			</div>
		</div>
	</f:section>
</div>
