<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:section name="HeroUnit">
		<!-- hero unit, optional content elements from colPos 1 (one) -->
		<v:content.render column="1" as="heroUnitContentElements">
			<f:if condition="{heroUnitContentElements}">
				<div class="jumbotron">
					<f:for each="{heroUnitContentElements}" as="heroContentElement">
						<f:format.raw>{heroContentElement}</f:format.raw>
					</f:for>
				</div>
			</f:if>
		</v:content.render>
	</f:section>
</div>
