<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 flux:schemaLocation="https://fluidtypo3.org/schemas/flux-master.xsd"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

	<f:section name="Jumbotron">
		<!-- jumbotron with background image, optional content elements from colPos 1 (one) -->
		<v:content.render column="1" as="jumbotronContentElements">
			<f:if condition="{jumbotronContentElements}">
				<div class="jumbotron masthead">
					<div class="container">
						<f:for each="{jumbotronContentElements}" as="jumbotronContentElement">
							<f:format.raw>{jumbotronContentElement}</f:format.raw>
						</f:for>
					</div>
				</div>
			</f:if>
		</v:content.render>
	</f:section>

</div>
