{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
		>

	<f:section name="Jumbotron">
		<!-- jumbotron with background image, optional content elements from colPos 1 (one) -->
		<v:content.render column="1" as="jumbotronContentElements">
			<f:if condition="{jumbotronContentElements}">
				<div class="jumbotron masthead">
					<div class="container">
						<f:for each="{jumbotronContentElements}" as="jumbotronContentElement">
							<f:format.raw>{jumbotronContentElement}</f:format.raw>
						</f:for>
					</div>
				</div>
			</f:if>
		</v:content.render>
	</f:section>
</div>