{namespace v=Tx_Vhs_ViewHelpers}


<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
		>
	<f:section name="SharedResources">
		<v:asset.style name="sitemap" group="page">
			.sitemap .lead,
			margin-bottom: 0.5em;
			}
			.sitemap hr {
			margin-bottom: 4em;
			}
			.sitemap {
			margin-top: 2em;
			margin-bottom: 5em;
			}
			.sitemap .header {
			padding-bottom: -20px;
			margin-bottom: -40px;
			text-align: center;
			}
			.sitemap .header span {
			background-color: #FFFFFF;
			padding: 0 1em 0 1em;
			display: inline-block;
			color: #DDDDDD;
			font-weight: normal;
			}
		</v:asset.style>
		{v:var.typoscript(path: 'plugin.tx_fluidbootstraptheme.settings') -> v:var.set(name: 'settings')}
		
		<f:if condition="{settings.enableCustomStyle} == 1">
			<v:asset.style name="customTheme" group="custom" path="{settings.customStylePath}" dependencies="bootstrap-css" standalone="TRUE" />
		</f:if>

    </f:section>
</div>