{namespace v=Tx_Vhs_ViewHelpers}


<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
		>
	<f:section name="SharedResources">
		<v:asset.style name="sitemap" group="page">
			.sitemap .lead,
			margin-bottom: 0.5em;
			}
			.sitemap hr {
			margin-bottom: 4em;
			}
			.sitemap {
			margin-top: 2em;
			margin-bottom: 5em;
			}
			.sitemap .header {
			padding-bottom: -20px;
			margin-bottom: -40px;
			text-align: center;
			}
			.sitemap .header span {
			background-color: #FFFFFF;
			padding: 0 1em 0 1em;
			display: inline-block;
			color: #DDDDDD;
			font-weight: normal;
			}
		</v:asset.style>
		<v:asset.style name="fontawesome" group="cdn" path="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" external="TRUE" standalone="TRUE" />
		<v:asset.style name="bootstrap-css" group="cdn" path="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" external="TRUE" standalone="TRUE" />
		{v:var.typoscript(path: 'plugin.tx_fluidbootstraptheme.settings') -> v:var.set(name: 'settings')}
		
		<f:if condition="{settings.enableCustomStyle} == 1">
			<v:asset.style name="customTheme" group="custom" path="{settings.customStylePath}" dependencies="bootstrap-css" standalone="TRUE" />
		</f:if>

		<v:asset.script name="bootstrap-core" group="cdn" path="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" external="TRUE" standalone="TRUE" dependencies="jquery" />
		<v:asset.script name="jquery" group="cdn" path="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" external="TRUE" standalone="TRUE" />
		<v:asset.script name="jquery-uid" group="cdn" path="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" external="TRUE" standalone="TRUE" dependencies="jquery" />
        <v:asset.script name="eqheight" group="JS" path="EXT:bschauer/Resources/Public/js/eqheight.js" allowMoveToFooter="1" dependencies="jquery"/>
    </f:section>
</div>