<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 flux:schemaLocation="https://fluidtypo3.org/schemas/flux-master.xsd"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

	<f:section name="Sidebar">
		<div class="sidebar {f:if(condition: settings.addWell, then: ' well')} {f:if(condition: settings.wellSmall, then: ' well-small')}">
			<v:content.render column="3" />
		</div>
	</f:section>

</div>
