{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="TabNavigation">
		<!-- tabbed, lower submenu navigation, collapsible -->
		<v:page.menu entryLevel="{settings.entryLevel -> v:math.ceil() -> v:math.sum(b: 2)}" useShortcutData="TRUE">
			<f:if condition="{menu}">
				<ul class="nav nav-pills">
					<f:for each="{menu}" as="submenuPage" iteration="iteration">
						<li class="{submenuPage.class}"><a tabindex="{iteration.cycle -> v:math.sum(b: 300)}" href="{submenuPage.link}" class="{submenuPage.class}">{submenuPage.linktext}</a></li>
					</f:for>
				</ul>
			</f:if>
		</v:page.menu>
	</f:section>
</div>
