{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="FrontPage" />

<f:render section="Resources" optional="TRUE" arguments="{_all}" />

<f:render section="Navigation" partial="PageObjects" arguments="{_all}" />
<f:render section="Jumbotron" partial="PageObjects" optional="TRUE" arguments="{_all}" />
<f:render section="SubNavigation" partial="PageObjects"  optional="TRUE" arguments="{_all}" />
<div class="container">
	<f:render section="TabNavigation" partial="PageObjects"  optional="TRUE" arguments="{_all}" />
	<!--TYPO3SEARCH_begin-->
	<f:render section="Content" />
	<!--TYPO3SEARCH_end-->
	<f:render section="Footer" partial="PageObjects" arguments="{_all}" />
</div>
