<f:layout name="Render" />

<f:render section="Navigation" partial="Navigation" arguments="{_all}" />
<f:render section="SubNavigation" partial="SubNavigation" optional="TRUE" arguments="{_all}" />
<div class="container">
	<f:render section="HeroUnit" partial="HeroUnit" optional="TRUE" arguments="{_all}" />
	<f:render section="TabNavigation" partial="TabNavigation" optional="TRUE" arguments="{_all}" />
    <f:render section="RenderColPos" partial="ContentRender" arguments="{_all}" />
	<f:render section="Footer" partial="Footer" arguments="{_all}" />
</div>
