{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="WithSideBar" />

<f:render section="Navigation" partial="Navigation" arguments="{_all}" />

<f:render section="SubNavigation" partial="SubNavigation"  optional="TRUE" arguments="{_all}" />
<div class="container">
	<f:render section="HeroUnit" partial="HeroUnit" optional="TRUE" arguments="{_all}" />
	<f:render section="TabNavigation" partial="TabNavigation" optional="TRUE" arguments="{_all}" />
	<!--TYPO3SEARCH_begin-->
	<div class="row">
		<f:render partial="Page/WithSideBar" section="WithSideBarOutPut{settings.position -> v:format.case(case: 'position')}" arguments="{_all}" />
	</div>
	<!--TYPO3SEARCH_end-->
	<f:render section="Footer" partial="Footer" arguments="{_all}" />
</div>
