<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:section name="WithSideBarOutPut">
		<div class="col-sm-{settings.distribution}">
			<f:render partial="Sidebar" section="Sidebar" arguments="{_all}" />
		</div>
		<div class="col-sm-{v:math.subtract(a: 12, b: settings.distribution)}">
			<v:content.render column="0" />
		</div>
	</f:section>

	<f:section name="WithSideBarOutPutleft">
		<div class="col-sm-{settings.distribution}">
			<f:render partial="Sidebar" section="Sidebar" arguments="{_all}" />
		</div>
		<div class="col-sm-{v:math.subtract(a: 12, b: settings.distribution)}">
			<v:content.render column="0" />
		</div>
	</f:section>

	<f:section name="WithSideBarOutPutright">
		<div class="col-sm-{v:math.subtract(a: 12, b: settings.distribution)}">
			<v:content.render column="0" />
		</div>
		<div class="col-sm-{settings.distribution}">
			<f:render partial="Sidebar" section="Sidebar" arguments="{_all}" />
		</div>
	</f:section>
	
</div>
