{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:comment>

		Input

	</f:comment>
	<flux:grid.column style="{col1-defaultWD};border-right: 1px dotted #999;">
		<flux:form.content name="column1" label="Column Left"/>
	</flux:grid.column>
	<flux:grid.column style="{col2-defaultWD}">
		<flux:form.content name="column2" label="Column Right"/>
	</flux:grid.column>
	<f:section name="InPut50-50">
		<flux:grid.column style="width:50%;border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="width:50%">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:section name="InPut70-30">
		<flux:grid.column style="width:70%;border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="width:30%">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:section name="InPut30-70">
		<flux:grid.column style="width:30%;border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="width:70%">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:comment>

		Output

	</f:comment>

	<f:section name="OutPut50-50">
		<div class="col-sm-6">
			<flux:content.render  area="column1"/>
		</div>
		<div class="col-sm-6">
			<flux:content.render  area="column2"/>
		</div>
	</f:section>
	<f:section name="OutPut70-30">
		<div class="col-sm-8">
			<flux:content.render  area="column1"/>
		</div>
		<div class="col-sm-4">
			<flux:content.render  area="column2"/>
		</div>
	</f:section>
	<f:section name="OutPut30-70">
		<div class="col-sm-4">
			<flux:content.render  area="column1"/>
		</div>
		<div class="col-sm-8">
			<flux:content.render  area="column2"/>
		</div>
	</f:section>
</div>