<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="alert" options="{useTypoScript: 0, group: 'Bootstrap', icon: '../typo3conf/ext/fluidbootstraptheme/Resources/Public/Icons/bootstrap/glyphicons_355_bullhorn.png'}">
			<flux:field.input name="header" />
			<flux:field.input name="closeLinkText" />
			<flux:field.select name="class" items="info,success,warning,danger" default="info" />
			<flux:field.checkbox name="isBlock" />
			<flux:form.content name="content" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<div class="alert alert-{class} {f:if(condition: isBlock, then: 'alert-block')}">
			<f:if condition="{closeLinkText}">
				<a class="close" data-dismiss="alert">
					<f:format.raw>{closeLinkText}</f:format.raw>
				</a>
			</f:if>
			<f:if condition="{header}">
				<h1 class="alert-heading">{header}</h1>
			</f:if>
			<flux:content.render area="content" />
		</div>
	</f:section>

</div>
