{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Configuration">
        <flux:form wizardTab="Bootstrap" id="button" label="Button"
                   description="the Swiss Army Knife of the Buttons" options="{useTypoScript: 0}" icon="{v:extension.path.resources(path: 'Icons/bootstrap/glyphicons_050_link.png')}">
            <flux:form.sheet name="ButtonSheetOne" label="Button Settings">
                <flux:field.select items="def,lg,sm,xs" name="ButtonSize" label="Button Size"/>
                <flux:field.checkbox name="ButtonBlock" label="Block level Button" default="0"/>
                <flux:field.checkbox name="ButtonGroup" label="Group Buttons Horizontal" default="0"/>
            </flux:form.sheet>
            <flux:form.sheet name="ButtonSheetTwo" label="Add Buttons">
                <flux:form.section name="ButtonSection" label="Add the Buttons here">
                    <flux:form.object name="ButtonObject" label="Button">
                        <flux:field.input name="ButtonText" label="Button Text"/>
                        <flux:field.input name="target" label="Button Link">
                            <flux:wizard.link activeTab="Page"/>
                        </flux:field.input>
                        <flux:field.select items="default,primary,success,info,warning,danger,link"
                                           name="ButtonOptions" label="Button Options" default="default"/>
                        <flux:field.checkbox name="ButtonActive" label="Set Button to Inactive" default="0"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <f:for each="{ButtonSection}" as="ButtonObjectItem" iteration="iter">
            <div style="background-color:#efefef; margin-bottom: 10px; padding: 10px;">
                <b>Text:</b> {ButtonObjectItem.ButtonObject.ButtonText} |  <b>State:</b> {ButtonObjectItem.ButtonObject.ButtonOptions}  | <b>Active:</b> {ButtonObjectItem.ButtonObject.ButtonActive} | <b>Link to:</b> PID [{ButtonObjectItem.ButtonObject.target}]
            </div>
        </f:for>
    </f:section>

    <f:section name="Main">
        <f:if condition="{ButtonBlock}">
            <f:then>
                <v:var.set name="ButtonBlockVar" value="btn-block"/>
            </f:then>
            <f:else>
                <v:var.set name="ButtonBlockVar" value=""/>
            </f:else>
        </f:if>
        <f:if condition="{ButtonGroup}">
            <f:then>
                <div class="btn-group">
                    <f:render section="Button" arguments="{_all}"/>
                </div>
            </f:then>
            <f:else>
                <f:render section="Button" arguments="{_all}"/>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="Button">
        <div class="buttonwrap">
        <f:for each="{ButtonSection}" as="ButtonObjectItem" iteration="iter">
            <f:if condition="{ButtonObjectItem.ButtonObject.target}">
                <f:then>
                    <f:render section="BottonWithLink" arguments="{_all}"/>
                </f:then>
                <f:else>
                    <f:render section="BottonWithOutLink" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:for>
        </div>
    </f:section>

    <f:section name="BottonWithOutLink">
        <button type="button"
                class="btn btn-{ButtonObjectItem.ButtonObject.ButtonOptions} btn-{ButtonSize} {ButtonBlockVar} {f:if(then: 'disabled', else: '', condition: '{ButtonObjectItem.ButtonObject.ButtonActive}')}">
            {ButtonObjectItem.ButtonObject.ButtonText}
        </button>
    </f:section>
    <f:section name="BottonWithLink">
        <f:link.page pageUid="{ButtonObjectItem.ButtonObject.target}"
                     class="btn btn-{ButtonObjectItem.ButtonObject.ButtonOptions} btn-{ButtonSize} {ButtonBlockVar} {ButtonDisable} {f:if(then: 'disabled', else: '', condition: '{ButtonObjectItem.ButtonObject.ButtonActive}')}"
                     additionalAttributes="{role: 'button'}">
            {ButtonObjectItem.ButtonObject.ButtonText}
        </f:link.page>
    </f:section>
    
</div>
