{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form wizardTab="Bootstrap" id="buttongroup" icon="{v:extension.path.resources(path: 'Icons/icon-buttongroup.gif')}">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column>
					<flux:form.content name="content" />
				</flux:grid.column>
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="btn-group">
		<flux:content.render area="content" />
	</div>
</f:section>

</div>
