{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:form wizardTab="Obsolete" id="buttonlink" options="{useTypoScript: 0}" icon="{v:extension.path.resources(path: 'Icons/bootstrap/glyphicons_050_link.png')}">
			<flux:field.input name="target">
				<flux:wizard.link />
			</flux:field.input>
			<flux:field.input name="text" />
			<flux:field.checkbox name="tooltip" />
			<flux:field.input name="title" />
			<flux:field.input name="iconClass" />
			<flux:field.select name="iconPlacement" items="left,right" />
			<flux:field.select name="size" items="default,xs,sm,lg" size="1" maxItems="1" default="default" />
			<flux:field.checkbox name="block" />
			<flux:field.select name="class" items="default,primary,success,info,warning,danger,link" size="1"
							   maxItems="1" />
			<flux:field.input name="additionalClassNames" />
			<flux:form.sheet name="addons">
				<flux:form.section name="addons">
					<flux:form.object name="popover">
						<flux:field.input name="title" />
						<flux:field.input name="content" />
					</flux:form.object>
					<flux:form.object name="modal">
						<flux:field.input name="title" />
						<flux:field.relation name="content" table="tt_content">
							<flux:wizard.add table="tt_content" />
							<flux:wizard.edit />
						</flux:field.relation>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Twitter Button: {text}, size: {size}, class: {class}
	</f:section>

	<f:section name="Main">
		<button class="btn btn-{size} btn-{class} {additionalClassNames}{f:if(condition: block, then: 'btn-block')}">
			<f:render section="Button" arguments="{_all}" />
		</button>
	</f:section>

	<f:section name="Button">
		<f:if condition="{target -> v:math.round()} > 0">
			<f:then>
				<f:link.page pageUid="{target}"
							 rel="{f:if(condition: tooltip, then: 'tooltip')}" title="{title}">
					<f:render section="Text" arguments="{_all}" />
				</f:link.page>
			</f:then>
			<f:else>
				<a href="{target}"
				   rel="{f:if(condition: tooltip, then: 'tooltip')}" title="{title}">
					<f:render section="Text" arguments="{_all}" />
				</a>
			</f:else>
		</f:if>
	</f:section>

	<f:section name="Text">
		<f:if condition="{iconClass}">
			<f:if condition="{iconPlacement}">
				<f:else><i class="icon icon-{iconClass}"></i></f:else>
			</f:if>
		</f:if>
		{text}
		<f:if condition="{iconClass}">
			<f:if condition="{iconPlacement}">
				<f:then><i class="icon icon-{iconClass}"></i></f:then>
			</f:if>
		</f:if>
	</f:section>

</div>
