<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="EmbedVideo" options="{useTypoScript: 0, group: 'Bootstrap', icon: '../typo3conf/ext/fluidbootstraptheme/Resources/Public/Icons/bootstrap/glyphicons_008_film.png'}">
			<flux:form.sheet name="EmbedVideo">
				<flux:field.text name="settings.videoIframe" default="Paste your iFrame here" required="1"
								 cols="100" rows="10" />
			</flux:form.sheet>
			<flux:form.sheet name="additionalCSS">
				<flux:field.input name="settings.videoIframeCustomCSS" />
			</flux:form.sheet>
		</flux:form>
	</f:section>
	<f:section name="Preview">
		<flux:widget.grid/>
	</f:section>
	<f:section name="Main">

		<v:asset.style name="responsiveVideo" path="EXT:fluidbootstraptheme/Resources/Public/Stylesheets/ResponsiveVideo.css" group="responsiveVideo" standalone="true" />

		<div class="video-container {settings.videoIframeCustomCSS} ">
			<f:format.raw>{settings.videoIframe}</f:format.raw>
		</div>
	</f:section>

</div>
