<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="EmbedVideo" options="{group: 'Bootstrap', Fluidcontent: {sorting: 700}, icon: '{f:uri.resource(path: \'Icons/Content/EmbedVideo.png\')}'}">
			<flux:form.sheet name="EmbedVideo">
				<flux:field.text name="settings.videoIframe" default="Paste your iFrame here" required="1"
								 cols="100" rows="10" />
			</flux:form.sheet>
			<flux:form.sheet name="additionalCSS">
				<flux:field.input name="settings.videoIframeCustomCSS" />
			</flux:form.sheet>
		</flux:form>
	</f:section>
	<f:section name="Preview">
	</f:section>
	<f:section name="Main">

		<v:asset.style name="responsiveVideo" path="EXT:fluidbootstraptheme/Resources/Public/Stylesheets/ResponsiveVideo.css" group="responsiveVideo" standalone="true" />

		<div class="video-container {settings.videoIframeCustomCSS} ">
			<f:format.raw>{settings.videoIframe}</f:format.raw>
		</div>
	</f:section>

</div>
