<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="FCE" />

	<f:section name="Configuration">
		<flux:form id="grid4" options="{useTypoScript: 0, group: 'Grid', icon: '../typo3conf/ext/fluidbootstraptheme/Resources/Public/Icons/bootstrap/glyphicons_155_show_big_thumbnails.png'}">
			<flux:form.sheet name="colSettings">
				<flux:field.select name="settings.grid4.split" items="25-25-25-25,more" default="25-25-25-25" requestUpdate="1" />
				<flux:field.checkbox name="settings.grid4.eqh" default="0" />
				<f:if condition="{settings.grid4.split}=='more'">
					<f:then>
						<flux:field.custom name="grid4Description">
							<h3>
								Customize the Column settings:
							</h3>
						</flux:field.custom>
						<f:render section="grid4more" arguments="{_all}" />
					</f:then>
					<f:else>
					</f:else>
				</f:if>
				<flux:grid>
					<flux:grid.row>
						<flux:grid.column style="width: 25%;border-right: 1px dotted #999;" name="column1"  />
						<flux:grid.column style="width: 25%;border-right: 1px dotted #999;" name="column2"  />
						<flux:grid.column style="width: 25%;border-right: 1px dotted #999;" name="column3"  />
						<flux:grid.column style="width: 25%;" name="column4"  />
					</flux:grid.row>
				</flux:grid>
			</flux:form.sheet>
			<flux:form.sheet name="additionalCSS">
				<flux:field.input name="settings.grid4.rowCSS" size="10" />
				<flux:field.input name="settings.grid4.col1CSS" size="10" />
				<flux:field.checkbox name="settings.grid4.col1hide" default="0" />
				<flux:field.input name="settings.grid4.col2CSS" size="10" />
				<flux:field.checkbox name="settings.grid4.col2hide" default="0" />
				<flux:field.input name="settings.grid4.col3CSS" size="10" />
				<flux:field.checkbox name="settings.grid4.col3hide" default="0" />
				<flux:field.input name="settings.grid4.col4CSS" size="10" />
				<flux:field.checkbox name="settings.grid4.col4hide" default="0" />
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="grid4more">
		<flux:field.select name="settings.grid4.col1width"
						   items="col-sm-1,col-sm-2,col-sm-3,col-sm-4,col-sm-5,col-sm-6,col-sm-7,col-sm-8,col-sm-9,col-sm-10,col-sm-11,col-sm-12"
						   required="1"
						   default="col-sm-3" />
		<flux:field.select name="settings.grid4.col2width"
						   items="col-sm-1,col-sm-2,col-sm-3,col-sm-4,col-sm-5,col-sm-6,col-sm-7,col-sm-8,col-sm-9,col-sm-10,col-sm-11,col-sm-12"
						   required="1"
						   default="col-sm-3" />
		<flux:field.select name="settings.grid4.col3width"
						   items="col-sm-1,col-sm-2,col-sm-3,col-sm-4,col-sm-5,col-sm-6,col-sm-7,col-sm-8,col-sm-9,col-sm-10,col-sm-11,col-sm-12"
						   required="1"
						   default="col-sm-3" />
		<flux:field.select name="settings.grid4.col4width"
						   items="col-sm-1,col-sm-2,col-sm-3,col-sm-4,col-sm-5,col-sm-6,col-sm-7,col-sm-8,col-sm-9,col-sm-10,col-sm-11,col-sm-12"
						   required="1"
						   default="col-sm-3" />
	</f:section>

	<f:section name="FrontendColRenderingGrid4">
		<div class="row {settings.grid4.rowCSS}">
			<f:if condition="{settings.grid4.split}=='more'">
				<f:then>
					<div class="{settings.grid4.col1width} {settings.grid4.col1CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col1hide, then: 'hidden-xs')}">
						<flux:content.render area="column1" />
					</div>
					<div class="{settings.grid4.col2width} {settings.grid4.col2CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col2hide, then: 'hidden-xs')}">
						<flux:content.render area="column2" />
					</div>
					<div class="{settings.grid4.col3width} {settings.grid4.col3CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col2hide, then: 'hidden-xs')}">
						<flux:content.render area="column3" />
					</div>
					<div class="{settings.grid4.col4width} {settings.grid4.col4CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col2hide, then: 'hidden-xs')}">
						<flux:content.render area="column4" />
					</div>
				</f:then>
				<f:else>
					<div class="col-sm-3 {settings.grid4.col1CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col1hide, then: 'hidden-xs')}">
						<flux:content.render area="column1" />
					</div>
					<div class="col-sm-3 {settings.grid4.col2CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col2hide, then: 'hidden-xs')}">
						<flux:content.render area="column2" />
					</div>
					<div class="col-sm-3 {settings.grid4.col3CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col3hide, then: 'hidden-xs')}">
						<flux:content.render area="column3" />
					</div>
					<div class="col-sm-3 {settings.grid4.col4CSS} {f:if(condition: settings.grid4.eqh, then: 'equal-height')} {f:if(condition: settings.grid4.col4hide, then: 'hidden-xs')}">
						<flux:content.render area="column4" />
					</div>
				</f:else>
			</f:if>
		</div>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<f:render section="FrontendColRenderingGrid4" arguments="{_all}" />
	</f:section>

</div>
