{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form wizardTab="Bootstrap" id="jumbotron" options="{useTypoScript: 0}" icon="{v:extension.path.resources(path: 'Icons//bootstrap/glyphicons_116_text_bigger.png')}">
		<flux:form.content name="content" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="jumbotron">
		<flux:content.render area="content" />
	</div>
</f:section>
