<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="jumbotron" options="{useTypoScript: 0, group: 'Bootstrap', Fluidcontent: {sorting: 400}, icon: '{f:uri.resource(path: \'Icons/bootstrap/jumbotron.png\')}'}">
			<flux:form.content name="content" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<div class="jumbotron">
			<flux:content.render area="content" />
		</div>
	</f:section>

</div>
