<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="FCE" />

	<f:section name="Configuration">
		<flux:form id="pageheader" options="{useTypoScript: 0, group: 'Bootstrap', icon: '../typo3conf/ext/fluidbootstraptheme/Resources/Public/Icons/bootstrap/glyphicons_459_header.png'}">
			<flux:field.input name="header" />
			<flux:field.input name="subheader" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<h2>{header}
			<f:if condition="{subheader}">
				<small>{subheader}</small>
			</f:if>
		</h2>
	</f:section>

	<f:section name="Main">
		<div class="page-header">
			<h1>{header}
				<f:if condition="{subheader}">
					<small>{subheader}</small>
				</f:if>
			</h1>
		</div>
	</f:section>

</div>
