{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:form wizardTab="Grid" id="grid2" icon="{v:extension.path.resources(path: 'Icons/twocol.png')}">
			<flux:form.sheet name="2Columns">
				<flux:field.select name="settings.split" items="50-50,70-30,30-70,more" default="50-50"
								   requestUpdate="1"/>
				<f:if condition="{settings.split}=='more'">
					<f:then>
						<f:render section="switchcaseMore" arguments="{_all}"/>
					</f:then>
					<f:else>
						<flux:grid>
							<flux:grid.row>
								<f:render section="InPut{settings.split -> v:format.case(case: 'split')}"
										  arguments="{_all}"/>
							</flux:grid.row>
						</flux:grid>
					</f:else>
				</f:if>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	<f:section name="switchcaseMore">
		<flux:field.select name="settings.col1width"
						   items="1,2,3,4,5,6,7,8,9,10,11,12"
						   required="1"
						   default="6"
				/>
		<flux:field.select name="settings.col1hide" items="show,hide" required="0" default="show"/>
		<flux:field.select name="settings.col2width"
						   items="1,2,3,4,5,6,7,8,9,10,11,12"
						   required="1"
						   default="6"
				/>
		<flux:field.select name="settings.col2hide" items="show,hide" required="0" default="show"/>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column style="width: 50%;border-right: 1px dotted #999;">
					<flux:form.content name="column1" label="Column Left ({settings.col1width})"/>
				</flux:grid.column>
				<flux:grid.column style="width: 50%;">
					<flux:form.content name="column2" label="Column Right ({settings.col2width})"/>
				</flux:grid.column>
			</flux:grid.row>
		</flux:grid>
	</f:section>
	<f:section name="Preview">
		<flux:widget.grid/>
	</f:section>
	<f:section name="InPut"></f:section>
	<f:section name="Main">
		<f:if condition="{settings.col1hide}=='hide'">
			<v:var.set name="col1hidexs" value="hidden-xs"/>
		</f:if>
		<f:if condition="{settings.col2hide}=='hide'">
			<v:var.set name="col2hidexs" value="hidden-xs"/>
		</f:if>
		<div class="row">
			<f:if condition="{settings.split}=='more'">
				<f:then>
					<div class="col-sm-{settings.col1width} {col1hidexs}">
						<flux:content.render area="column1"/>
					</div>
					<div class="col-sm-{settings.col2width} {col2hidexs}">
						<flux:content.render area="column2"/>
					</div>
				</f:then>
				<f:else>
					<f:render section="OutPut{settings.split -> v:format.case(case: 'split')}" arguments="{_all}"/>
				</f:else>
			</f:if>
		</div>
	</f:section>
	<f:section name="InPut50-50">
		<flux:grid.column style="border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:section name="InPut70-30">
		<flux:grid.column style="width:70%;border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="width:30%">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:section name="InPut30-70">
		<flux:grid.column style="width:30%;border-right: 1px dotted #999;">
			<flux:form.content name="column1" label="Column Left"/>
		</flux:grid.column>
		<flux:grid.column style="width:70%">
			<flux:form.content name="column2" label="Column Right"/>
		</flux:grid.column>
	</f:section>
	<f:section name="OutPut50-50">
		<div class="col-sm-6">
			<flux:content.render area="column1"/>
		</div>
		<div class="col-sm-6">
			<flux:content.render area="column2"/>
		</div>
	</f:section>
	<f:section name="OutPut70-30">
		<div class="col-sm-8">
			<flux:content.render area="column1"/>
		</div>
		<div class="col-sm-4">
			<flux:content.render area="column2"/>
		</div>
	</f:section>
	<f:section name="OutPut30-70">
		<div class="col-sm-4">
			<flux:content.render area="column1"/>
		</div>
		<div class="col-sm-8">
			<flux:content.render area="column2"/>
		</div>
	</f:section>
</div>
