<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="well" options="{useTypoScript: 0, group: 'Bootstrap', icon: '../typo3conf/ext/fluidbootstraptheme/Resources/Public/Icons/bootstrap/glyphicons_332_certificate.png'}">
			<flux:form.content name="content" />
			<flux:field.select name="wellStyle" items="small, normal, large" default="normal" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<div class="well{f:if(condition: '{0: wellStyle} != {0: \'normal\'}', then: ' well-{wellStyle}')}">
			<flux:content.render area="content" />
		</div>
	</f:section>
</div>
